{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/pharmacist_products_add.css' %}">
{% endblock head %}

{% block content %}
<h2>Add New Supplier</h2>
<form action="" method="post">
    {% csrf_token %}
    <label for="office">Office or Dispensary name:</label>
    <input type="text" id="office" name="office" maxlength="255" placeholder="Enter office or dispensary name">
    
    <label for="contact-info">Contact Information:</label>
    <textarea id="contact-info" name="contact_info" rows="4" placeholder="Enter contact details (e.g., phone, email)"></textarea><br>
    
    <button type="submit">Add Supplier</button>
</form>
{% endblock %}