{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/work.css' %}">
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="{% url "Product add" pharmacy.id%}" class="nav-link">Add Products</a></li>
{% if user == pharmacy.owner %}
<li class="nav-item">
    <a href="{% url 'Sale list' pharmacy.id %}" class="nav-link">Sales History</a>
</li>
{% endif %}
{% endblock nav %}

{% block content %}
<div class="cashier-container">
    <!-- Left: Search Section -->
    <div class="left-section">
        <h3>Search Products</h3>
        <div class="search-section">
            <input type="text" id="product-search" class="form-control" placeholder="Search for medications..." autocomplete="off">
            <div id="search-results" class="search-results">
                <!-- Search results will be dynamically populated here -->
            </div>
        </div>
    </div>

    <!-- Right: Cart and Checkout Section -->
    <div class="right-section">
        <div class="barcode-scanner">
            <h3>Scan Barcode</h3>
            <video id="video" width="300" height="200" style="border: 1px solid black;"></video>
            <div id="product-info">
                <p>Scanned Barcode: <span id="scanned-barcode"></span></p>
            </div>
        </div>
        
        <!-- Cart Section -->
        <div id="cart-container" class="cart-container">
            <h3>Cart</h3>
            <div id="cart-items">
            </div>
            <p><strong>Total:</strong><span id="total-price">0</span> IQD</p>
        </div>

        <!-- Payment Section -->
        <div class="payment-section mt-4">
            <div class="form-group">
                <label for="discount">Discount</label>
                <input type="number" step="250" id="discount" name="discount" class="form-control" placeholder="Enter discount amount" value=0>
            </div>
            <div class="form-group">
                <label for="payment-received">Payment Received</label>
                <input type="number" step="250" id="payment-received" name="payment_received" class="form-control" required value=0>
            </div>
            <button onclick="checkout()" class="btn btn-primary mt-3">Complete Sale</button>
            <p id="checkout-message" class="mt-3 text-success" style="display: none;">Sale completed successfully!</p>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const pharmacyId = "{{ pharmacy.id }}";  

    document.getElementById('product-search').addEventListener('keyup', function() {
        searchMedications();
    });

    function searchMedications() {
        const query = document.getElementById('product-search').value;

        if (query.length > 2) {
            fetch(`/api/pharmacy/${pharmacyId}/search/?q=${encodeURIComponent(query)}`) 
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const searchResults = document.getElementById('search-results');
                    searchResults.innerHTML = '';

                data.forEach(item => {
                    const resultItem = document.createElement('div');
                    resultItem.classList.add('search-item');

                    // Safely pass properties as arguments to the showProductModal function
                    resultItem.innerHTML = `
                        ${item.medication_name} [${item.generic_name}] (${item.manufacturer}) - $${item.price} (Stock: ${item.stock_level})
                        <button onclick="addToCart('${item.id}', 1)">Add to Cart</button>
                    `;
                    searchResults.appendChild(resultItem);
                });
            })
            .catch(error => console.error('Error fetching search results:', error));
        }
    }


    function addToCart(productId, quantity) {
        fetch(`/api/pharmacy/${pharmacyId}/cart/${productId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), 
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: quantity })
        })
        .then(response => {
            if (response.status === 400) {
                throw new Error("Not enough stock level")
            } else if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                updateCartView();
            }
        })
        .catch(error => {
            console.error('Error adding to cart:', error);
            alert(error);
        });
    }


    function removeFromCart(productId) {
        fetch(`/api/pharmacy/${pharmacyId}/cart/${productId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), 
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                updateCartView();
            } else {
                console.error('Error removing item from cart:', response.statusText);
            }
        })
        .catch(error => console.error('Error removing from cart:', error));
    }

    function updateCartView() {
        fetch(`/api/pharmacy/${pharmacyId}/cart/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                const cartContainer = document.getElementById('cart-items');
                cartContainer.innerHTML = '';
    
                data.cart_items.forEach(item => {
                    const cartItem = document.createElement('div');
                    cartItem.classList.add('cart-item');
                    cartItem.innerHTML = `
                        <p>${item.product.medication_name} - ${item.total_price} IQD</p>
                        <div class="quantity-control">
                            <button onclick="updateQuantity(${item.product.id}, -1)">-</button>
                            <span>${item.quantity}</span>
                            <button onclick="updateQuantity(${item.product.id}, 1)">+</button>
                        </div>
                        <button onclick="removeFromCart(${item.product.id})" class="btn btn-danger">Remove</button>
                    `;
                    cartContainer.appendChild(cartItem);
                });
    
                document.getElementById('total-price').innerText = data.total_price;
            })
            .catch(error => console.error('Error updating cart view:', error));
    }
    function updateQuantity(productId, change) {
        fetch(`/api/pharmacy/${pharmacyId}/cart/${productId}/update-quantity/`, {
            method: 'PATCH',  
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ change: change }) 
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            updateCartView();  // Refresh the cart view after updating
        })
        .catch(error => console.error('Error updating quantity:', error));
    }
    function checkout() {
        const paymentReceived = document.getElementById('payment-received').value;
        const discount = document.getElementById('discount').value;
    
        fetch(`/api/pharmacy/${pharmacyId}/checkout/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), 
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                payment_received: paymentReceived,
                discount: discount
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                document.getElementById('checkout-message').style.display = 'block';
                document.getElementById('payment-received').value = 0;
                document.getElementById('discount').value = 0;
                
                updateCartView();
            }
        })
        .catch(error => console.error('Error during checkout:', error));
    }
    updateCartView();
</script>
<script src="https://unpkg.com/@zxing/library@latest"></script>

<script>
    const codeReader = new ZXing.BrowserMultiFormatReader();
    const videoElement = document.getElementById('video');
    const resultElement = document.getElementById('scanned-barcode');


    function sendBarcode(code) {
        fetch(`/api/pharmacy/${pharmacyId}/search/?barcode=${encodeURIComponent(code)}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data)
                        item = data[0];
                        addToCart(item.id,1)
                    })
                    .catch(error => console.error('Error fetching search results:', error));
        };
        let lastScannedCode = null;
        
        function startScanning() {
            codeReader.decodeFromVideoDevice(null, videoElement, (result, err) => {
                if (result && result.text.length >= 10) {            
                    if (result.text !== lastScannedCode) {
                        lastScannedCode = result.text;
                        resultElement.innerText = `Scanned: ${result.text}`;
                        const audio = new Audio('{% static "success-sound.mp3" %}');
                        audio.play();
                        sendBarcode(result.text);
    
                    }
                }
                if (err && !(err instanceof ZXing.NotFoundException)) {
                    console.error(err);
                }
            }
            );
        }
        
        startScanning();
        
</script>

{% endblock scripts %}