{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Pharma IQ</title>
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="main-nav">
        <ul class="nav-list">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url "Main" %}" class="nav-link">Home</a></li>
                
                {% if pharmacy.id %}
                <li class="nav-item"><a href="{% url "Product add" pharmacy.id%}" class="nav-link">Add Products</a></li>
                <li class="nav-item"><a href="{% url "Inventory" pharmacy.id%}" class="nav-link">Inventory</a></li>
                {% if user == pharmacy.owner %}
                <li class="nav-item">
                    <a href="{% url 'Sale list' pharmacy.id %}" class="nav-link">Sales History</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'Supplier add' pharmacy.id %}" class="nav-link">Add Supplier</a>
                </li>
                {% endif %}
                {% endif %}

                {% if user.is_superuser %}
                <li class="nav-item"><a href="{% url "Barcode add" %}" class="nav-link">Add Barcodes</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>

    <main id="content" class="main-content">
        {% block content %}
            
        {% endblock %}
    </main>

    <footer id="footer" class="site-footer">
        &copy; 2024 Smart Pharma IQ
    </footer>

    {% block scripts %}{% endblock scripts %}
</body>
</html>